body {
    font-family: "Baloo-bhai";
    margin: 0;
    padding: 20px;
    
      background-repeat: no-repeat;
    background-size: cover;
    
  }
  h1{
    text-align:center;
    font-weight: bold;
  }
  h2 {
    text-align: center;
    box-shadow: rgb(173, 93, 93);
    border: rgb(37, 36, 36);
    color:rgb(216, 66, 43);
    background-color: antiquewhite;
    border-radius: 15px;
   padding: 5px;
  }
  .converter {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #221013;
    border: 1px solid brown;
    border-radius: 15px;
  }
  
  .input {
    margin-bottom: 10px;
  }
  
  .input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input input {
    width: 90%;
    padding: 8px;
    border: 1px solid #2118;
    border-radius: 1px;
  }
  
  .input select {
    width: 30%;
    padding: 1px;
    border: 11px solid #221013;
    border-radius: 45px;
  }
  
  .result {
    margin-top: 20px;
    text-align: center;
  }
  
  .result button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 14px;
    background-color: rgb(237, 139, 139);
    color: black;
    border: none;
    border-radius: 3px;
    cursor:pointer;
  }
  
  .result button:hover {
    background-color: rgb(0, 72, 77);
  }
  
  @media screen and (max-width: 480px) {
    .converter {
      padding: 10px;
    }
    
    .input input,
    .input select {
      padding: 8px;
    }
    
    .result button {
      padding: 8px 15px;
      font-size: 12px;
      color: bisque;
    }
  }
  html{
    background-color:antiquewhite;
  }
  footer {
    font-size:8px;
    text-align:center;
    
  }